HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
  PreferredAuthentications publickey
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_ed25519

Host gitlab.com
  User git
  PreferredAuthentications publickey
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_ed25519

Host elitedesk
  ForwardAgent yes
  User twp